@tailwind base;
@tailwind components;
@tailwind utilities;

label {
  @apply block;
  @apply m-1;
}

input {
  @apply border;
  @apply m-1;
}

input.error {
  @apply border-red-800;
}

span.input-error {
  @apply text-red-800;
  @apply mr-1;
}

form {
  @apply ml-8;
  @apply mb-8;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  max-height: 250px;
  overflow: scroll;
}

.dropdown:focus-within .dropdown-content {
  display: block;
}

.dropdown-content:hover {
  display: block;
}
